In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('work_directory/pandas_zfill/input_csv.csv', delimiter=' ')
df.head()

   day  month  year  hour  minute  seconds
0   21     10  2012     8       0       31
1   21     10  2012     8       0       32
2   21     10  2012     8       0       33
3   21     10  2012     8       0       34
4   21     10  2012     8       0       35

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.dtypes

day        int64
month      int64
year       int64
hour       int64
minute     int64
seconds    int64
dtype: object

In [5]:
df = df.astype({'day': str, 'month': str, 'year': str, 'hour': str, 'minute': str, 'seconds': str})
df.dtypes

day        object
month      object
year       object
hour       object
minute     object
seconds    object
dtype: object

In [6]:
df['hour'] = df['hour'].str.zfill(2)
df['minute'] = df['minute'].str.zfill(2)
df['seconds'] = df['seconds'].str.zfill(2)
df.head()

  day month  year hour minute seconds
0  21    10  2012   08     00      31
1  21    10  2012   08     00      32
2  21    10  2012   08     00      33
3  21    10  2012   08     00      34
4  21    10  2012   08     00      35

In [10]:
df.to_csv('work_directory/pandas_zfill/output_csv.csv', sep=' ', index=False)

Note: The `index=False` flag above is used to export csv without the indexes.