# Pandas - Updating rows and columns - Modifying data within dataframes

## Table of contents

* [Updating column names](#Updating-column-names)
    * [Renaming ALL the columns: `DataFrame.columns = [list]`](#Renaming-ALL-the-columns:-DataFrame.columns-=-[list])
    * [Changing something specific about ALL the column names](#Changing-something-specific-about-ALL-the-column-names)
    * [Changing SOME column names: `DataFrame.rename(columns={dict})` method](#Changing-SOME-column-names:-DataFrame.rename(columns={dict})-method)
* [Updating data in our rows](#Updating-data-in-our-rows)
    * [Changing ALL the values in a SINGLE row: `DataFrame.loc[<index>] = [list]`](#Changing-ALL-the-values-in-a-SINGLE-row:-DataFrame.loc[<index>]-=-[list])
    * [Changing a SINGLE value in a SINGLE row: `DataFrame.loc[<index>, <column>] = <value>`](#Changing-a-SINGLE-value-in-a-SINGLE-row:-DataFrame.loc[<index>,-<column>]-=-<value>)
    * [Changing MULTIPLE values in a SINGLE row, but NOT ALL of them: `DataFrame.loc[<index>, [column_list]] = [value_list]`](#Changing-MULTIPLE-values-in-a-SINGLE-row,-but-NOT-ALL-of-them:-DataFrame.loc[<index>,-[column_list]]-=-[value_list])
* [Updating data in our columns](#Updating-data-in-our-columns)
    * [Changing ALL the values in a SINGLE column: `DataFrame[<column>] = ...` or `DataFrame.loc[:, <column>] = ...`](#Changing-ALL-the-values-in-a-SINGLE-column:-DataFrame[<column>]-=-...-or-DataFrame.loc[:,-<column>]-=-...)
    * [Changing a SINGLE value in a SINGLE column: `DataFrame.loc[<index>, <column>] = <value>`](#Changing-a-SINGLE-value-in-a-SINGLE-column:-DataFrame.loc[<index>,-<column>]-=-<value>)
    * [Changing MULTIPLE values in a SINGLE column, but NOT ALL of them: `DataFrame.loc[[index_list], <column>] = [value_list]`](#Changing-MULTIPLE-values-in-a-SINGLE-column,-but-NOT-ALL-of-them:-DataFrame.loc[[index_list],-<column>]-=-[value_list])
* [`.apply()`, `.applymap()`, `.map()`,  and `.replace()` methods](#.apply(),-.applymap(),-.map(),-and-.replace()-methods)
    * [`.apply()` method](#.apply()-method)
        * [`.apply()` method on `Series` objects](#.apply()-method-on-Series-objects)
        * [`.apply()` method on `DataFrame` objects](#.apply()-method-on-DataFrame-objects)
        * [Summary of the `.apply()` method](#Summary-of-the-.apply()-method)
    * [`.applymap()` method](#.applymap()-method)
    * [`.map()` method](#.map()-method)
* [Now, let's go back to the stack overflow dataset and work with it](#Now,-let's-go-back-to-the-stack-overflow-dataset-and-work-with-it)

***

In [203]:
people = {
    "first": ["Nabeel", "Jane", "John"],
    "last": ["Malik", "Doe", "Doe"],
    "email": ["nabeel_malik@email.com", "jane_doe@email.com", "john_doe@email.com"]
}

In [204]:
import pandas as pd
df_from_dict = pd.DataFrame(people)

In [205]:
df_from_dict

    first   last                   email
0  Nabeel  Malik  nabeel_malik@email.com
1    Jane    Doe      jane_doe@email.com
2    John    Doe      john_doe@email.com

In [206]:
df_from_dict.columns

Index(['first', 'last', 'email'], dtype='object')

In [207]:
type(df_from_dict.columns)

pandas.core.indexes.base.Index

Note: The `DataFrame.columns` attribute has the `Index` *object* type.

## Updating column names

The part of the notebook structure related to this section is:
1. Updating column names
    1. Renaming ALL the columns
    2. Changing something specific about ALL the column names
    3. Changing SOME column names

### Renaming ALL the columns: `DataFrame.columns = [list]`

To update ALL the columns, we can simply do an assignment using the `DataFrame.columns` attribute:

In [208]:
df_from_dict

    first   last                   email
0  Nabeel  Malik  nabeel_malik@email.com
1    Jane    Doe      jane_doe@email.com
2    John    Doe      john_doe@email.com

In [209]:
df_from_dict.columns = ['first name', 'last name', 'email']

In [210]:
df_from_dict.columns

Index(['first name', 'last name', 'email'], dtype='object')

In [211]:
df_from_dict

  first name last name                   email
0     Nabeel     Malik  nabeel_malik@email.com
1       Jane       Doe      jane_doe@email.com
2       John       Doe      john_doe@email.com

Note that this `DataFrame.columns` assignment above happens *inplace* by default.

This method of changing column names is almost never used since we rarely have to change the names of ALL the columns in our dataframes. Usually, we might want to change:
- either something specific about ALL the column names,
- or the names of SOME columns.

### Changing something specific about ALL the column names

Let's say we want to change ALL the column names to UPPER CASE, we can use a **list comprehension**.

In [212]:
df_from_dict.columns

Index(['first name', 'last name', 'email'], dtype='object')

In [213]:
df_from_dict.columns = [x.upper() for x in df_from_dict.columns]

In [214]:
df_from_dict

  FIRST NAME LAST NAME                   EMAIL
0     Nabeel     Malik  nabeel_malik@email.com
1       Jane       Doe      jane_doe@email.com
2       John       Doe      john_doe@email.com

Note: using a **list comprehension** in this manner changes the column names *inplace*.

Now, if we want to replace all the whitepsaces (` `) in our column names with underscores (`_`), we could use the `.replace()` **string method**.

In [215]:
df_from_dict.columns = df_from_dict.columns.str.replace(' ', '_')
df_from_dict

  FIRST_NAME LAST_NAME                   EMAIL
0     Nabeel     Malik  nabeel_malik@email.com
1       Jane       Doe      jane_doe@email.com
2       John       Doe      john_doe@email.com

Note: `.replace()` string method does not change the column names *inplace*. The string returned from `.replace()` needs to be assigned back to `DataFrame.columns`.

### Changing SOME column names: `DataFrame.rename(columns={dict})` method

If we want to change SOME specific column names, we can use the `DataFrame.rename()` **method**, and pass in a *dictionary* for the `column=` *flag* with the old name(s) as the *key(s)*, and the new name(s) as the *value(s)*,<br> i.e. `DataFrame.rename(columns={<old name>: <new name>})`

In [216]:
df_from_dict

  FIRST_NAME LAST_NAME                   EMAIL
0     Nabeel     Malik  nabeel_malik@email.com
1       Jane       Doe      jane_doe@email.com
2       John       Doe      john_doe@email.com

In [217]:
df_from_dict.rename(columns={'FIRST_NAME': 'first', 'LAST_NAME': 'last'}, inplace=True)

In [218]:
df_from_dict

    first   last                   EMAIL
0  Nabeel  Malik  nabeel_malik@email.com
1    Jane    Doe      jane_doe@email.com
2    John    Doe      john_doe@email.com

Note: with the `DataFrame.rename()` method, we have to use the `inplace=True` flag to implement the changes *inplace*.

## Updating data in our rows

Let us first redefine the dataframe that we will work with:

In [219]:
people = {
    "first_name": ["Nabeel", "Jane", "John"],
    "last_name": ["Malik", "Doe", "Doe"],
    "email": ["nabeel_malik@email.com", "jane_doe@email.com", "john_doe@email.com"]
}

In [220]:
df_from_dict = pd.DataFrame(people)
df_from_dict

  first_name last_name                   email
0     Nabeel     Malik  nabeel_malik@email.com
1       Jane       Doe      jane_doe@email.com
2       John       Doe      john_doe@email.com

We know that we can lookup values using `.loc` and `.iloc` indexers. We will use them as a starting point for setting values as well.

Note: Using **indexers** is the only recommended way to change values in SINGLE rows in a `DataFrame`.

In [221]:
df_from_dict.loc[2]

first_name                  John
last_name                    Doe
email         john_doe@email.com
Name: 2, dtype: object

### Changing ALL the values in a SINGLE row: `DataFrame.loc[<index>] = [list]`

Now, let's say we want to **change the entire last row of the dataframe**:

In [222]:
df_from_dict.loc[2] = ['Bob', 'Wallace', 'bob_wallace@email.com']

In [223]:
df_from_dict

  first_name last_name                   email
0     Nabeel     Malik  nabeel_malik@email.com
1       Jane       Doe      jane_doe@email.com
2        Bob   Wallace   bob_wallace@email.com

### Changing a SINGLE value in a SINGLE row: `DataFrame.loc[<index>, <column>] = <value>`

If we want to **change Bob's email only**:

In [224]:
df_from_dict.loc[2, 'email'] = 'bob_wallace@gmail.com'

In [225]:
df_from_dict

  first_name last_name                   email
0     Nabeel     Malik  nabeel_malik@email.com
1       Jane       Doe      jane_doe@email.com
2        Bob   Wallace   bob_wallace@gmail.com

### Changing MULTIPLE values in a SINGLE row, but NOT ALL of them: `DataFrame.loc[<index>, [column_list]] = [value_list]`

In [226]:
df_from_dict.loc[2, ['last_name', 'email']] = ['Dyson', 'bob_dyson@gmail.com']

In [227]:
df_from_dict

  first_name last_name                   email
0     Nabeel     Malik  nabeel_malik@email.com
1       Jane       Doe      jane_doe@email.com
2        Bob     Dyson     bob_dyson@gmail.com

## Updating data in our columns

Let us first redefine the dataframe that we will work with:

In [228]:
people = {
    "first_name": ["Nabeel", "Jane", "John"],
    "last_name": ["Malik", "Doe", "Doe"],
    "email": ["nabeel_malik@email.com", "jane_doe@email.com", "john_doe@email.com"]
}

In [229]:
df_from_dict = pd.DataFrame(people)
df_from_dict

  first_name last_name                   email
0     Nabeel     Malik  nabeel_malik@email.com
1       Jane       Doe      jane_doe@email.com
2       John       Doe      john_doe@email.com

### Changing ALL the values in a SINGLE column: `DataFrame[<column>] = ...` or `DataFrame.loc[:, <column>] = ...`

Now, let's say we want to **change all the last names to UPPER CASE**:

In [230]:
df_from_dict['last_name'] = df_from_dict['last_name'].str.upper()

In [231]:
df_from_dict

  first_name last_name                   email
0     Nabeel     MALIK  nabeel_malik@email.com
1       Jane       DOE      jane_doe@email.com
2       John       DOE      john_doe@email.com

Note: `.upper()` string method does not change the column values *inplace*. The string returned from `.upper()` needs to be assigned back to the `Series` object as shown above.

To change ALL the values in a SINGLE column we could also use `DataFrame.loc[:, <column>] = ...`.

In [232]:
df_from_dict.loc[:, 'last_name'] = df_from_dict.loc[:, 'last_name'].str.title()
df_from_dict

  first_name last_name                   email
0     Nabeel     Malik  nabeel_malik@email.com
1       Jane       Doe      jane_doe@email.com
2       John       Doe      john_doe@email.com

### Changing a SINGLE value in a SINGLE column: `DataFrame.loc[<index>, <column>] = <value>`

This is the same as what we have seen above for XYZ.

### Changing MULTIPLE values in a SINGLE column, but NOT ALL of them: `DataFrame.loc[[index_list], <column>] = [value_list]`

In [233]:
df_from_dict

  first_name last_name                   email
0     Nabeel     Malik  nabeel_malik@email.com
1       Jane       Doe      jane_doe@email.com
2       John       Doe      john_doe@email.com

Now let's say we want to **change the email addresses for the first and last rows to** `@gmail.com`:

In [234]:
df_from_dict.loc[[0,2], 'email'] = ['nabeel_malik@gmail.com', 'john_doe@gmail.com']
df_from_dict

  first_name last_name                   email
0     Nabeel     Malik  nabeel_malik@gmail.com
1       Jane       Doe      jane_doe@email.com
2       John       Doe      john_doe@gmail.com

## `.apply()`, `.applymap()`, `.map()`, and `.replace()` methods

### `.apply()` method

The `.apply()` **method** is used to *apply* a function to the values in a `Series` or a `DataFrame`object.

So, the `.apply()` **method** can be called as `pandas.Series.apply()` or `pandas.DataFrame.apply()`.

In [235]:
employees = {
    "first_name": ["Nabeel", "Jane", "John"],
    "last_name": ["Malik", "Doe", "Doe"],
    "email": ["nabeel_malik@email.com", "jane_doe@email.com", "john_doe@email.com"],
    "salary": [80000, 65000, 60000]
}

In [236]:
df_emp = pd.DataFrame(employees)

In [237]:
df_emp

  first_name last_name                   email  salary
0     Nabeel     Malik  nabeel_malik@email.com   80000
1       Jane       Doe      jane_doe@email.com   65000
2       John       Doe      john_doe@email.com   60000

#### `.apply()` method on `Series` objects

First, let's apply the `.apply()` method on `Series` objects:

If we want to **see the character length of all employee emails** using the `len()` function:

In [238]:
df_emp['email'].apply(len)

0    22
1    18
2    18
Name: email, dtype: int64

Now, let's write a function to **update the employee salaries**:

In [239]:
def update_salary(old_salary):
    return old_salary*1.1

In [240]:
df_emp['salary'] = df_emp['salary'].apply(update_salary)

In [241]:
df_emp

  first_name last_name                   email   salary
0     Nabeel     Malik  nabeel_malik@email.com  88000.0
1       Jane       Doe      jane_doe@email.com  71500.0
2       John       Doe      john_doe@email.com  66000.0

Now, instead of separately defining a function, we could also use **lambda functions** here:

In [242]:
df_emp['salary'] = df_emp['salary'].apply(lambda x: x*1.1)

In [243]:
df_emp

  first_name last_name                   email   salary
0     Nabeel     Malik  nabeel_malik@email.com  96800.0
1       Jane       Doe      jane_doe@email.com  78650.0
2       John       Doe      john_doe@email.com  72600.0

#### `.apply()` method on `DataFrame` objects

When applied to a `Series` object, the `.apply()` method applies to **each value** in the `Series`:

In [244]:
df_emp['email'].apply(len)

0    22
1    18
2    18
Name: email, dtype: int64

However, when applied to a `DataFrame` object, the `.apply()` method applies to **each** `Series` **in the** `DataFrame` **along the specified axis**.

The **axis** is specified with the `axis=` **flag**

> `axis=` **flag**:
- 0 (default): index: apply function to each column
- 1: columns: apply function to each row

In [245]:
df_emp.apply(len)

first_name    3
last_name     3
email         3
salary        3
dtype: int64

So, for a particular column, the above command is the same as the following command:

In [246]:
len(df_emp['first_name'])

3

Instead of applying a function to each *column*, a function could also be applied to each *row*:

In [247]:
df_emp.apply(len, axis='columns')

0    4
1    4
2    4
dtype: int64

So basically, we want to use `.apply()` on a `DataFrame` with *functions* that make sense to apply on a `Series` object.

So, for instance, let's say that we want to use `.apply()` on a `DataFrame` to grab the **minimum value in each column**, we could do that passing the `pandas.Series.min()` method to the `.apply()` method:

In [248]:
df_emp

  first_name last_name                   email   salary
0     Nabeel     Malik  nabeel_malik@email.com  96800.0
1       Jane       Doe      jane_doe@email.com  78650.0
2       John       Doe      john_doe@email.com  72600.0

In [249]:
df_emp.apply(pd.Series.min)

first_name                  Jane
last_name                    Doe
email         jane_doe@email.com
salary                     72600
dtype: object

The `pandas.Series.min()` function makes more sense for numerical data, but the minimum value for *strings* would just be the minimum value in the alphabetical order.

We can use **lambda functions** inside `.apply()` for `'DataFrame` objects as well, just remembering that the *lambda function* will be working on the `Series` objects in the `DataFrame`:

In [250]:
df_emp.apply(lambda x: x.max())

first_name                    Nabeel
last_name                      Malik
email         nabeel_malik@email.com
salary                         96800
dtype: object

#### Summary of the `.apply()` method

> Running `.apply()` on a `Series` applies a function to every *value* in the `Series`,

> Running `.apply()` on a `DataFrame` applies a function to every `Series` in the `DataFrame`.

Now, you might be wondering if there is a way to apply a function to every individual value in a `DataFrame`.

That is what `.applymap()` is used for.

### `.applymap()` method

The `.applymap()` method only works on `DataFrame` objects. `Series` objects do not have the `.applymap()` method.

In [251]:
df_emp

  first_name last_name                   email   salary
0     Nabeel     Malik  nabeel_malik@email.com  96800.0
1       Jane       Doe      jane_doe@email.com  78650.0
2       John       Doe      john_doe@email.com  72600.0

Let's just delete the 'salary' column to be able to apply the `len()` function to this `DataFrame`:

In [252]:
del df_emp['salary']

In [253]:
df_emp

  first_name last_name                   email
0     Nabeel     Malik  nabeel_malik@email.com
1       Jane       Doe      jane_doe@email.com
2       John       Doe      john_doe@email.com

In [254]:
df_emp.applymap(len)

   first_name  last_name  email
0           6          5     22
1           4          3     18
2           4          3     18

In [255]:
df_emp.applymap(str.lower)

  first_name last_name                   email
0     nabeel     malik  nabeel_malik@email.com
1       jane       doe      jane_doe@email.com
2       john       doe      john_doe@email.com

### `.map()` method

The `.map()` method only works with `Series` objects.

`.map()` is used for substituting each *value* in a `Series` with another *value*.

In [256]:
df_emp

  first_name last_name                   email
0     Nabeel     Malik  nabeel_malik@email.com
1       Jane       Doe      jane_doe@email.com
2       John       Doe      john_doe@email.com

In [257]:
df_emp['first_name'].map({'Nabeel': 'Omar', 'John': 'Chris'})

0     Omar
1      NaN
2    Chris
Name: first_name, dtype: object

Note: The *values* that we did not substitute with the `.map()` method, were converted to `NaN` (Not A Number) *values*.

What if we wanted to keep the other names, and just substitute the names provided in the *dictionary* to the `.map()` method. For that, we could use the `.replace()` method.

In [258]:
df_emp

  first_name last_name                   email
0     Nabeel     Malik  nabeel_malik@email.com
1       Jane       Doe      jane_doe@email.com
2       John       Doe      john_doe@email.com

In [259]:
df_emp['first_name'].replace({'Nabeel': 'Omar', 'John': 'Chris'})

0     Omar
1     Jane
2    Chris
Name: first_name, dtype: object

Important note for `.apply()`, `.applymap()` and `.map()` methods:

- These methods DO NOT apply changes to the `DataFrame` or `Series` objects *inplace*;
- They DO NOT have an `inplace=` flag;
- They just return the modified `DataFrame` or `Series` objects that need to be reassigned.

***

## Now, let's go back to the stack overflow dataset and work with it

In [260]:
df = pd.read_csv('work_directory/pandas/data/survey_results_public.csv', index_col='Respondent')
df_schema = pd.read_csv('work_directory/pandas/data/survey_results_schema.csv', index_col='Column')

In [261]:
pd.set_option('display.max_rows', 85)
pd.set_option('display.max_columns', 85)

In [262]:
df.head()

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelors degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,22,1,Slightly satisfied,Slightly satisfied,Not at all confident,Not sure,Not sure,"Im not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,THB,Thai baht,23000.0,Monthly,8820.0,40.0,There's no schedule or spec; I work on what se...,Distracting work environment;Inadequate access...,Less than once per month / Never,Home,Average,No,NaN,"No, but I think we should",Not sure,I have little or no influence,HTML/CSS,Elixir;HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN,NaN,Vim;Visual Studio Code,Linux-based,I do not use containers,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2011,A few times per week,Find answers to specific questions;Learn how t...,6-10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,14,9,Very dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,No,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,A few days each month,Office,A little above average,"Yes, because I see value in code review",NaN,"Yes, it's part of our process",Not sure,I have little or no influence,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Facebook,In real life (in person),Username,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

Now, let's say we want to rename the *'ConvertedComp'* column name to *'SalaryUSD'*:

In [263]:
df.rename(columns={'ConvertedComp': 'SalaryUSD'}, inplace=True)

In [264]:
df['SalaryUSD']

Respondent
1            NaN
2            NaN
3         8820.0
4        61000.0
5            NaN
          ...
39996    28152.0
39997     6552.0
39998    51559.0
39999        NaN
40000        NaN
Name: SalaryUSD, Length: 39755, dtype: float64

So that seems to have worked.

Now, let's say that we want to take the *'Hobbyist'* column, and replace all the 
- *'Yes'* values with `True`
- *'No'* values with `False`

In [265]:
df['Hobbyist'] = df['Hobbyist'].map({'Yes': True, 'No': False})

In [266]:
df['Hobbyist']

Respondent
1         True
2        False
3         True
4        False
5         True
         ...
39996    False
39997     True
39998     True
39999     True
40000     True
Name: Hobbyist, Length: 39755, dtype: bool

Note: In case we had values other than *'Yes'* and *'No'* in this column, and we wanted to keep those values untouched, we could have used the `.replace()` method instead of `.map()`.